body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 50px auto;
    background-color: linear-gradient(10F2F2, #258d91, #05fdf1);
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.title {
    color: #333;
    margin-bottom: 20px;
}

textarea {
    width: calc(100% - 40px);
    height: 150px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #3d08b9;
    border-radius: 4px;
    resize: none;
    background-color: #e9f5f2; /* Color de fondo del textarea */
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#output {
    margin-top: 20px;
}